<p>Payment sucessful! Please press continue to finalize your order.</p>
<%= button_to "Continue", { :controller => "orders", :action => "create"} %>


<%= debug @session %>
<%= debug @payment_intent %>
<%= logger.debug @session %>
<%= logger.debug @payment_intent %>