<nav class="navbar has-background-link-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item has-text-weight-bold is-size-2" href="/">
        Haythair Furniture
      </a>
      <div class="navbar-item has-dropdown is-hoverable m-6">
        <a class="navbar-link">
          Categories
        </a>

        <div class="navbar-dropdown">
          <% get_categories.each do |f| %>
            <div id=<%= "box#{f.id}" -%> >
            <a class="navbar-item">
              <%= link_to f.title, f %>
            </a>
            </div>
          <% end %>
        </div>
      </div>

      <div class="ml-3 mr-6">
        <ul>
          </li><%= link_to image_tag("cart.png", width:60), checkout_index_path %></li>
          <li>
            Cart
            <% if cart.present? %>
              <sup><%= cart.size %></sup>
              <ul>
              </ul>
            <% end %>
          </li>
        </ul>
      </div>


      <div>
        <%= search_form_for @q, url: search_furnitures_path,
          html: { method: :post } do |f| %>
        <%= f.label :name %>
        <%= f.text_field :title_or_description_cont, class: 'form-control' %>

        <%= f.collection_select :category_id_eq, Category.all, :id, :title, { :include_blank => 'All Categories' }, {class: 'form-control' } %>
        <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>

    </div>
  </div>
</nav>