<nav class="navbar has-background-link-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item has-text-weight-bold is-size-2" href="/">
        Haythair Furniture
      </a>

      <div class="navbar-item has-dropdown is-hoverable m-4">
        <a class="navbar-link">
          Categories
        </a>

        <div class="navbar-dropdown ml-4 mr-4">
          <% get_categories.each do |f| %>
            <div id=<%= "box#{f.id}" -%> >
            <a class="navbar-item ml-4 mr-4">
              <%= link_to f.title, f %>
            </a>
            </div>
          <% end %>
        </div>
      </div>

      <div class="m-4 level-right is-pulled-right">
        <%= search_form_for @q, url: search_furnitures_path,
          html: { method: :post } do |f| %>
        <%= f.text_field :title_or_description_cont, class: 'form-control' %>

        <%= f.collection_select :category_id_eq, Category.all, :id, :title, { :include_blank => 'All Categories' }, {class: 'select is-primary' } %>
        <%= f.submit class: 'button is-info is-outlined ml-3' %>
        <% end %>
      </div>

      <div class="m-4 is-right">
        <ul>
          </li>
            <%= link_to image_tag("cart.png", width:40), checkout_index_path %>
            <sup><%= cart.size %></sup>
          </li>
        </ul>
      </div>

      <p class="navbar-text float-right m-4">
      <% if user_signed_in? %>
        <ul>
          <li class="mb-2 mt-3">
            <%= link_to current_user.email, edit_user_registration_path %>
          </li>
          <span>
          <li>
            <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
          </li>
        </ul>
      <% else %>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
      </p>

    </div>
  </div>
</nav>